/*Einstellungen für HTML "Bauteile"*/
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
html {
    position: relative;
    min-height: 100%;
}
header {
    background-color: gray;
    font-size: 16px;
}
body {
    margin-bottom: 60px;
    background-image: url(/css/Bilder/DunklerHintergrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: grey;
    text-align: center;
    color: white;

}

/*Einstellungen für Standardtextbefehle in HTML*/
p {
    text-align: center;
    color: royalblue;
}
h1{
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 20px;
    color: royalblue;
}
h2 {
    text-align: center;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-weight: bold;
    color: royalblue;
    margin-bottom: 25px;
}
h4{
    color: royalblue;
}
/*Einstellungen für Tabellen*/
table {
    background-color: gray;
}
th {
    border: solid 2px;
    border-color: black;
    font-weight: bolder;
    font-size: 20px;
}
td {
    border: solid 2px;
    border-color: black;
    font-size: 16px;
}
tr {
    border: solid 2px;
    border-color: black;
    text-align: center;
}


/*Einstellungen für speziell selbst erstellte Klassen*/
.container {
    text-align: center;
}

.col-sm-2{
}
.col-sm-3{
color: royalblue
}
.col-sm-6{
    border: solid 2px;
    border-color: black;
    text-align: center;
    color: black;
    background-color: gray;
    font-size: 15px;
    font-weight: bold;
}
.Webseitetitel {
    border-bottom: solid 2.5px;
}
.schrift {
    color: black;
    text-decoration: auto;
    font-weight: bold;
}
.light-mode {
    background-image: url(/css/Bilder/HellerHintergrund.jpg);
    color: black;
}
.link {
    text-decoration: auto;
    color: white;
}
/*Navbar Einstellungen*/
ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0.5px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        li a:hover:not(.active) {
            background-color: white;
            color: black;
        }
/*Button Einstellungen*/
.standardbutton {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: firebrick;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 1px;
    padding: 7.5px 7.5px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/*Suchleiste Einstellungen*/
.searchbar{
        border: solid 2px;
        border-color: white;
        background-color: gray;
    }

/*Einstellungen für Edit und Create Seiten*/
.form-control{
        background-color:lightsteelblue;
        text-align: center;
        align-content: center;
    }
    .form-group{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: royalblue;
  }

  

    