/*Einstellungen für HTML "Bauteile"*/
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
html {
    position: relative;
    min-height: 100%;
}
header {
    background-color: gray;
    font-size: 16px;
}
body {
    margin-bottom: 60px;
    background-image: url(/css/Bilder/DunklerHintergrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: grey;
    text-align: center;
    color: white;

}

/*Einstellungen für Standardtextbefehle in HTML*/
p {
    text-align: center;
    color: royalblue;
}
h3 {
    text-align: center;
    font-weight: bold;
    color: royalblue;
    margin-bottom: 25px;
}
h4{
    color: royalblue;
}

/*Einstellungen für speziell selbst erstellte Klassen*/
.container {
    text-align: center;
}

.col-sm-2{
}
.col-sm-3{
color: royalblue
}
.col-sm-6{
    border: solid 2px;
    border-color: black;
    text-align: center;
    color: black;
    background-color: gray;
    font-size: 15px;
    font-weight: bold;
}
.Webseitetitel {
    margin-top: 50px;
    font-weight: bold;
    color: royalblue;

}
.schrift {
    color: black;
    text-decoration: auto;
    font-weight: bold;
}
.light-mode {
    background-image: url(/css/Bilder/HellerHintergrund.jpg);
    color: black;
}
.link {
    text-decoration: auto;
    color: white;
}
.erstellerinfos{
    color: white;
    font-size: 22px;
    font-weight: bolder;
}
.clock {
    position: relative;
    top: 140%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
    color: royalblue;
    font-size: 25px;
    font-family: Arial;
    letter-spacing: 2px;
    margin-top: 20px;
}

/*Navbar Einstellungen*/
ul {
    list-style-type: none;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }
        li a:hover:not(.active) {
            background-color: white;
            color: black;
        }
.dropbtn {
    background-color: royalblue;
    color: white;
    padding: 14px 16px;
    font-size: 16px;

}

.dropdown {
    position: relative;
    display: list-item;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 100px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Button Einstellungen*/
.standardbutton {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 1px;
    padding: 7.5px 7.5px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/*Suchleiste Einstellungen*/
.searchbar{
        border: solid 2px;
        border-color: white;
        background-color: gray;
    }

/*Einstellungen für Edit und Create Seiten*/
.form-control{
        background-color:lightsteelblue;
        text-align: center;
        align-content: center;
    }
    .form-group{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: royalblue;
  }

  

    /*Table einstellungen*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 1.5em;
    color: white;
    background-color: #1F2739;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 4em;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: white;
}

    h2 a {
        font-weight: 700;
        text-transform: uppercase;
        color: #FB667A;
        text-decoration: none;
    }

.container th h1 {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    color: white;
}

.container td {
    font-weight: bolder;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    text-align: center;
    color: white;
}

.container {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    
}

    .container td, .container th {
        padding-bottom: 1%;
        padding-top: 1%;
        padding-left: 1%;
    }

    /* Background-color of the odd rows */
    .container tr:nth-child(odd) {
        background-color: #323C50;
    }

    /* Background-color of the even rows */
    .container tr:nth-child(even) {
        background-color: #2C3446;
    }

    .container th {
        background-color: #1F2739;
    }

    .container td:first-child {
        color: #FB667A;
    }

    .container tr:hover {
        background-color: #464A52;
        -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
    }

    .container td:hover {
        background-color: #FFF842;
        color: #403E10;
        font-weight: bold;
        box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    }

@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}