/*Einstellungen für HTML "Bauteile"*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: gray;
    font-size: 16px;
}

body {
    margin-bottom: 60px;
    background-image: url(/css/DunklerHintergrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: grey;
    text-align: center;
    color: white;

}

/*Einstellungen für Standardtextbefehle in HTML*/
p {
    text-align: center;
}
h1{
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
    color: white;
}
h2 {
    text-align: center;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-weight: bold;
}

/*Einstellungen für Tabellen*/
table {
    background-color: dimgrey;
}

th {
    border: solid 2px;
    border-color: black;
    font-weight: bolder;
    font-size: 20px;
}

td {
    border: solid 2px;
    border-color: black;
    font-size: 16px;
}

tr {
    border: solid 2px;
    border-color: black;
    text-align: center;
}


/*Einstellungen für speziell selbst erstellte Klassen*/
.container-fluid {
    font-size: 16px;
    background-color: mediumturquoise;
}

.col-sm-6{
    text-align: center;
}
.person{
    font-size: 20px;
    font-weight: bold;
}

/*Navbar Einstellungen*/
ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0.5px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        li a:hover:not(.active) {
            background-color: white;
            color: black;
        }
/*Button Einstellungen*/
.standardbutton {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: firebrick;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 1px;
    padding: 7.5px 7.5px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


    /*Suchleiste Einstellungen*/
    .searchbar{
        border: solid 2px;
        border-color: royalblue;
        background-color: lightblue;
    }

    /*Einstellungen für Edit und Create Seiten*/
    .form-control{
        background-color:lightblue;
        border: solid 3px black;
        width: 300px;
        height: 35px;
        text-align: center;
    }
    .form-group{
        font-size: 18px;
        font-weight: bold;
  }

    .Webseitetitel{
        border-bottom: solid 2px;
    }
     
    .schrift{
        color: white;
        text-decoration: auto;
        font-weight: bold;
    }

    .container{
        color: white;
        border: solid;
        align-content: center;
    }
