/*Einstellungen für HTML "Bauteile"*/
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
html {
    position: relative;
    min-height: 100%;
}
header {
    background-color: gray;
    font-size: 16px;
}
body {
    margin-bottom: 60px;
    background-image: url(/css/Bilder/DunklerHintergrund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Einstellungen für Standardtextbefehle in HTML*/
p {
    text-align: center;
    color: royalblue;
}
h3 {
    text-align: center;
    font-weight: bold;
    color: royalblue;
    margin-bottom: 25px;
}
h4{
    color: royalblue;
}

/*Einstellungen für speziell selbst erstellte Klassen*/
.container {
    text-align: center;
}

.col-sm-2{
}
.col-sm-3{
color: royalblue
}
.col-sm-6{
    border: solid 2px;
    border-color: black;
    text-align: center;
    color: black;
    background-color: gray;
    font-size: 15px;
    font-weight: bold;
}
.Webseitetitel {
    margin-top: 50px;
    font-weight: bold;
    color: royalblue;
    text-decoration: none;

}
.schrift {
    color: black;
    text-decoration: auto;
    font-weight: bold;
}
.light-mode {
    background-image: url(/css/Bilder/HellerHintergrund.jpg);
    color: black;
}
.link {
    text-decoration: auto;
    color: white;
}
.erstellerinfos{
    color: white;
    font-size: 22px;
    font-weight: bolder;
}
.clock {
    position: relative;
    top: 140%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
    color: royalblue;
    font-size: 25px;
    font-family: Arial;
    letter-spacing: 2px;
    margin-top: 20px;
}
.trennung{
    border: solid 0.5px;
}
/*Navbar Einstellungen*/
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }
    .topnav .icon {
        display: none;
    }
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

/*Sidenav für zusätzliche Optionen*/
#zusatzoptionen a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 10px;
    width: 135px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: royalblue;
}

    #zusatzoptionen a:hover {
        left: 0px;
        opacity: 1;
    }

#darklightmode {
    top: 65px;
    background-color: lightgray;
    color: royalblue;
    opacity: 0.2;
}

#browserstatus {
    top: 130px;
    background-color: lightgray;
    opacity: 0.2;
}

#uhr {
    top: 195px;
    background-color: lightgray;
    opacity: 0.2;
}

    /*Button Einstellungen*/
    .standardbutton {
        background-image: linear-gradient(#0dccea, #0d70ea);
        box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
        box-sizing: border-box;
        cursor: pointer;
        font-family: Montserrat,sans-serif;
        font-size: .8em;
        margin: 1px;
        padding: 2.5px 2.5px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    /*Suchleiste Einstellungen*/
    .searchbar {
        border: solid 2px;
        border-color: white;
        background-color: gray;
    }

    /*Table einstellungen*/
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        line-height: 1.5em;
        color: white;
        background-color: #1F2739;
        text-align: center;
    }

    h1 {
        font-size: 3em;
        font-weight: 400;
        line-height: 2.5em;
        text-align: center;
        color: white;
    }

    h2 {
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        display: block;
        line-height: 2em;
        padding-bottom: 2px;
        color: white;
        font-weight: bold;
    }

        h2 a {
            font-weight: 700;
            text-transform: uppercase;
            color: #FB667A;
            text-decoration: none;
        }

    .container th h1 {
        font-weight: bold;
        font-size: 1.1em;
        text-align: center;
        color: red;
    }

    .container td {
        font-weight: bolder;
        font-size: 1em;
        -webkit-box-shadow: 0 20px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
        text-align: center;
        color: white;
    }

    .container {
        text-align: center;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        display: table;
    }

        .container td, .container th {
            padding-bottom: 0.3%;
            padding-top: 0.3%;
        }

        /* Background-color of the odd rows */
        .container tr:nth-child(odd) {
            background-color: royalblue;
        }

        /* Background-color of the even rows */
        .container tr:nth-child(even) {
            background-color: black;
        }

        .container th {
            background-color: black;
        }

        .container td:first-child {
            color: White;
        }

        .container tr:hover {
            background-color: #464A52;
            -webkit-box-shadow: 0 6px 6px -6px #0E1119;
            -moz-box-shadow: 0 6px 6px -6px #0E1119;
            box-shadow: 0 6px 6px -6px #0E1119;
        }

        .container td:hover {
            background-color: white;
            color: black;
            font-weight: bold;
            box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
            transform: translate3d(10px, -10px, 0);
            transition-delay: 0s;
            transition-duration: 0.5s;
            transition-property: all;
        }

    @media (max-width: 800px) {
        .container td{
            font-size: 11px
        }
        .container tr {
            font-size: 13px;
            font-weight: normal;
        }
    }

