@{
    ViewData["Title"] = "Home Page";
}
<h1 class="Webseitetitel">Willkommen zu unserer Webseite</h1>
<p></p>
<p></p>
<p></p>

<h3>Die Ersteller der Webseite sind:</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <img src="~/css/Beispielperson.jpg" height="300" width="300"/>
        <p class="person">Name: Till Strasser</p>
</div>
    <div class="col-sm-6">
    <img src="~/css/Beispielperson.jpg" height="300" width="300"/>
    <p class="person">Name: Louis Widmer</p>
    </div>
  </div>
</div>
