@{
    ViewData["Title"] = "Ersteller der Webseite";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-6">
        <img src="~/css/Bilder/TillStrasser.jpg" />
        <p class="erstellerinfos">Name: Till Strasser</p>
        <p class="erstellerinfos">E-Mail: Till_Strasser@sluz.ch</p>
    </div>
    <div class="col-sm-6">
        <img src="~/css/Bilder/Beispielperson.jpg" />
        <p class="erstellerinfos">Name: Louis Widmer</p>
        <p class="erstellerinfos">E-Mail: Louis_Widmer@sluz.ch</p>
    </div>
</div>
