<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeDatabase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimeDatabase.styles.css" asp-append-version="true" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="icon" type="image/x-icon" href="~/css/Bilder/Kurumi.png" />
</head>
<body>
    <header>
         <div class="topnav" id="myTopnav">
  <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i>Home</a>
  <a asp-area="" asp-controller="Animelisten" asp-action="Index"><i class="fa fa-table"></i>Animeliste</a>
  <a asp-area="" asp-controller="Characterliste" asp-action="Index"><i class="fa fa-table"></i>Characterliste</a>
   <a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class='fas fa-download'></i>Database</a>
   <a href="javascript:void(0);" class="icon" onclick="ResponsiveNavbar()"><i class="fa fa-bars"></i></a>
   	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="zusatzoptionen" class="sidenav">
  <a onclick="darklightmode()" id="darklightmode">Design<i class="material-icons" style='font-size:20px'>style</i></a>
  <a onclick="Browserstatus()" id="browserstatus">Online<i class="material-icons" style='font-size:20px'>wifi</i></a>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
