<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeDatabase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimeDatabase.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
 <ul>
  <li><a asp-area="" asp-controller="Home" asp-action="Index">AnimeDatabase - Home</a></li>
  <li><a asp-area="" asp-controller="Animelisten" asp-action="Index">AnimeDB</a></li>
  <li><a asp-area="" asp-controller="Characterliste" asp-action="Index">CharacterDB</a></li>
  <li><a asp-area"" asp-controller=Home asp-action="Ersteller">Ersteller der Seite</a></li>
  <li><a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Datenbank herunterladen</a></li>
</ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container, schrift">
            <button onclick="myFunction()">Activate Dark/Light Mode</button>
            <script>
            function myFunction() {
            var element = document.body;
            element.classList.toggle("light-mode");
            }</script>
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
