<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeDatabase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimeDatabase.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/css/Bilder/Kurumi.png" />
</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<!--
 <ul>
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Animelisten" asp-action="Index">AnimeDB</a></li>
  <li><a asp-area="" asp-controller="Characterliste" asp-action="Index">CharacterDB</a></li>
  <li><a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">DB herunterladen</a></li>
  <li><div class="dropdown">
      <button class="dropbtn">Optionen</button>
      <div class="dropdown-content">
          <div class="row">
          <button class="standardbutton, schrift" onclick="darklightmode()">Dark/Light Mode</button>
           <script src=~/js/site.js></script>
          <button class="standardbutton, schrift" onclick="Browserstatus()">Browser Online?</button>
          <button class="standardbutton">Test</button>
          </div>
      </div>
  </div></li>
</ul>-->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container, schrift">
    <button><a class="schrift" asp-area"" asp-controller=Home asp-action="Ersteller">Ersteller der Seite</a></button>        
    </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
