@model AnimeDatabase.Models.Characterliste

@{
    ViewData["Title"] = "Create New Character";
}

<hr/>
    <h1 class="Webseitetitel">Neuen Character Erstellen</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alter" class="control-label"></label>
                <input asp-for="Alter" class="form-control" />
                <span asp-validation-for="Alter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grösse" class="control-label"></label>
                <input asp-for="Grösse" class="form-control" />
                <span asp-validation-for="Grösse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
        </form>
    </div>
</div>
<div><button class="standardbutton"><a class="schrift" asp-action="Index">Back to List</a></button></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
